<section class="section">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hi, <span>{{ user?.firstName }}</span
          ><span> {{ user?.lastName }}</span>
        </h1>
        <h2 class="subtitle">Dashboard</h2>
      </div>
    </div>
  </section>
  <!-- Main Content -->
  <main class="box">
    <div class="tabs is-centered">
      <ul>
        <li class="is-active"><a>Airline Performance</a></li>
        <li><a>Retail Distribution</a></li>
        <li><a>Florida Real Estate</a></li>
      </ul>
    </div>
    <section>
      <div>
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Canceled Flights</p>
              <p class="title">3,45</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Scheduled Flights</p>
              <p class="title">4123</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Distance Travelled</p>
              <p class="title">456K</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">A0</p>
              <p class="title">78%</p>
            </div>
          </div>
        </nav>
      </div>
    </section>
  </main>
</section>
