
.panel{
    height: 480px;
    display: flex;
    flex-direction: column;
    .panel-block.messages{
        flex-grow: 1;
        .list{
            height: 100%;
            width: 100%;
            max-height: 350px;
            overflow-y:scroll;
            li{
                display: flex;
                &.user{
                    justify-content: flex-end;
                }
                padding: 10px 20px;
                p{
                    display: inline-block;
                    padding: 10px 5px;
                    
                }

            }
        }
    }
}